:root {
    --font-color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000c5ce0;
    padding: 10px 20px;
    color: var(--font-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-title {
    font-size: 1.5em;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .navbar-links li {
    margin: 10px;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.2em;
  }
  
  .navbar-links a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.8rem;
  }
  
  .navbar-links a:hover {
    color: #ffd700;
  }